<div >


    <mat-table #table [dataSource]="dataSource">


        <ng-container matColumnDef="customerName">

            <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>

            <mat-cell *matCellDef="let element">{{element.customerName}}</mat-cell>

        </ng-container>



        <ng-container matColumnDef="quotationAmendmentNumber">

            <mat-header-cell *matHeaderCellDef> quotationAmendmentNumber</mat-header-cell>

            <mat-cell *matCellDef="let element">{{element.quotationAmendmentNumber}}</mat-cell>

        </ng-container>


        <ng-container matColumnDef="status">

            <mat-header-cell *matHeaderCellDef>status</mat-header-cell>

            <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>

        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

    </mat-table>


   
<!-- 
has context menu
Compose
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event) " ></mat-paginator> -->

    <!-- <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->

    <!-- <mat-paginator [length]="totalItems"
               [pageSize]="itemsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator> -->

</div>
<div class="scrollBar" >
    <div *ngIf="mediaObserver.isActive('lt-md')" 
    infinite-scroll 
    (scrolled)="onScrollDown($event)">


</div>

</div>


<div class="paginator">
    <mat-paginator [pageSizeOptions]="[2,10, 25, 50, 100]" [pageIndex]="0"

    [pageSize]="pageSize" [length]="100"
    
    (page)="onPageChanged($event)"></mat-paginator>
</div>
